body{
    background: linear-gradient(to bottom right, #00ff99 39%, #00cc99 100%);
    background-repeat: no-repeat;
}
.w3-margin{
margin:16px!important
}

.w3-margin-top{
margin-top:16px!important
}

.w3-margin-bottom{
margin-bottom:16px!important
}

.w3-margin-left{
margin-left:16px!important
}

.w3-margin-right{
margin-right:16px!important
}

.w3-xlarge{
font-size:24px!important
}

.w3-xxlarge{
font-size:36px!important
}

.w3-xxxlarge{
font-size:48px!important
}

.w3-jumbo{
font-size:64px!important
}

.page-header {
    background-color: #DC143C;
    padding: 20px 20px 20px 40px;
	font-family: monotype corsiva;

}

h1, h3, h4 {
    font-family: 'Lobster', cursive;
    font-size: 50;
}

h2{
    font-family: 'Lobster', cursive;
    font-size: 18;
    font-color: brown;
}

