<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wavelets processing</title>
    <link rel="stylesheet" href="view.css">
</head>
<body>
    <header class="page-header" style="padding:128px 16px">
      <h1 class="w3-margin w3-jumbo">Wavelets</h1>
      <p class="w3-xlarge">Are you know about this?</p>
      <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>
    </header>
<!--    <div class="page-header" id="qwerty">-->
<!--            <h1>Wavelets</h1>-->
<!--			<p><i>Are you know about this?</i></p>-->
<!--    </div>-->
    <div>
        <h1>Morlet wavelet</h1>
        <p>Here will be description for morlet wavelet...</p>
        <h3><a href="morlet.html">Read more...</a></h3>
    </div>
    <div>
        <h1><a href="haar.html">Haar wavelet</a></h1>
        <p> Here will be description for haar wavelet...</p>
    </div>
    <div>
        <h1><a href="haar.html">Daubechie wavelet</a></h1>
        <p> Here will be description for daubechie's wavelet...</p>
    </div>
    <div>
        <h1><a href="haar.html">Complex wavelet</a></h1>
        <p> Here will be description for complex wavelet...</p>
    </div>
    <div>
        <h1><a href="haar.html">Mexican hat wavelet</a></h1>
        <p> Here will be description for mexican hat wavelet...</p>
    </div>
    <div>
        <h1><a href="haar.html">Haar wavelet</a></h1>
        <p> Here will be description for haar wavelet...</p>
    </div>
</body>
</html>