<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wavelets</title>
    <link rel="stylesheet" href="view.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='view.css')}}" , type="text/css"/>
    <script src="{{ url_for('static', filename='script_subdirectories.js')}}" type="text/javascript" ></script>
</head>
<body>
<div class="navbar">
  <a href="#Home">Go back to home</a>
  <a href="#news">News</a>
  <div class="dropdown">
  <button class="dropbtn" onclick="myFunction()">See more...
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content" id="myDropdown">
    <a href="#Morlet">Morlet</a>
    <a href="#Haar">Haar</a>
    <a href="#MexHat">Mexican Hat</a>
  </div>
  </div>
</div>

<div class="block-content">
    {% block content %}{% endblock %}
</div>
</body>
</html>