<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wavelets processing</title>
    <link rel="stylesheet" href="static/view.css">
<!--    <script src="{{ url_for('static', filename='script.js')}}" type="text/javascript" ></script>-->
    <!-- TODO: https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_ref_js_scrollspy&stacked=h -->
</head>
<body>
    <header class="page-header">
        <div class="page-header-strip">
            <h1 class="w3-margin w3-jumbo">Wavelets</h1>
            <p class="w3-xlarge">Did you know about this...?</p>
            <button class="get-started-button" onclick="scrollWin()">Get Started</button>
        </div>
    </header>
    <script>
        function scrollWin() {
            var myImg = document.querySelector(".page-header");
            var y = myImg.clientHeight;
            window.scrollBy(0, y);
        }
    </script>

    <div class="section-two">
        <div>
            <h1>Morlet wavelet</h1>
            <p>Here will be description for morlet wavelet...</p>
            <h3><a href="/morlet">Read more...</a></h3>
        </div>

        <div>
            <h1><a href="haar.html">Haar wavelet</a></h1>
            <p> Here will be description for haar wavelet...</p>
        </div>

        <div>
            <h1><a href="haar.html">Daubechie wavelet</a></h1>
            <p> Here will be description for daubechie's wavelet...</p>
        </div>

        <div>
            <h1><a href="haar.html">Complex wavelet</a></h1>
            <p> Here will be description for complex wavelet...</p>
            <p> Here will be description for complex wavelet...</p>
            <p> Here will be description for complex wavelet...</p>
            <p> Here will be description for complex wavelet...</p>
            <p> Here will be description for complex wavelet...</p>
        </div>

        <div>
            <h1><a href="haar.html">Mexican hat wavelet</a></h1>
            <p> Here will be description for mexican hat wavelet...</p>
            <p> Here will be description for mexican hat wavelet...</p>
            <p> Here will be description for mexican hat wavelet...</p>
            <p> Here will be description for mexican hat wavelet...</p>
        </div>

    </div>

</body>
</html>